a.navbar-brand {
    padding: 10px;
    background-color: rgb(47, 152, 179);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: -180px;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}

/* .col-md-12{
    padding: 10px;
    background-color: white;
} */

h3{
    color: rgb(47, 152, 179);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: large;
    text-align: inherit;
}


/* .col-md-8{
    width: 100px;
    border: 10px;
    margin: 10px;
    padding-left: 10px;
    /* padding-right: 5px; */
    /* margin-top: 50px;
    margin-bottom: 50px;
    background-color: green;

} */ 

.col-md-12{
   background-color: white;
   margin-bottom: 20x;
   margin-left: -50px;
   margin-top: 30px;
   padding: 10px;
}

/* .col-md-12{
    padding: 10px;
    background-color: white;
} */

/* .col-md-4{ */
    /* width: 100px;
    border: 15px;
    margin: 20px; */
    /* background-color: purple; */

/* } */

/* .col-3{
    background-color: royalblue; */
/* } */

/* .col-md-6{
    background-color: saddlebrown;
} */

img{
    width: 100%;
    height: 100%;
}

#navbarSupportedContent {
    position: absolute ;
    right: 5%;
}

body{
    background-color:rgb(233, 233, 233);
}

.thumbnail{
    padding-right:50px;
    padding-bottom: 225px;
    padding-left: 10px;
    padding-top: 10px;
    width: 50%;
}

#mtemp-image{
    width: 90%;
    height: 90%;
    /* margin-right: 10px; */
    /* vertical-align: 10px; */
}

#comparison{
    background-color: white;
   margin-top: 30px;
    padding: 10px;
}

#datat{
    background-color: white;
}

.acenter{
    text-align: center;
}

#ctemp, #chumid, #ccloud, #cwind{
    width: 80%;
    height: 80%;
    margin-left: 50px;
}

/* .row{
    background-color: white;
} */

@media (max-width: 480px) {
    /* .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible; */
    

    .navbar-nav ul{
        visibility: visble;
    }

    #navbarSupportedContent {
        position: absolute ;
    }
  }